{% extends "app/base.html" %}

{% load taggit_extras %}


<!-- Here we will open our hole and fill it with what ever we want.-->
{% block content %}
<!-- autoescape is a django tag which is helping with security.-->
{% autoescape off %}


	  <!-- List of blog posts -->

      <div class="large-9 columns large-offset-1 blogpanel left">
                <h4 class="panel">Posts about "{{ tag }}"</h4>
       {% for post in posts %}
       <h3>{{  post.title  }}</h3>
        <p> {{ post.body }} </p>
             <hr>
       {% endfor %}
        </div>


{% endautoescape %}
{% endblock %}
